
@{
    ViewBag.Title = "Filmes";
}

<h2>Filmes</h2>

<div class="row">
    <img class="img" src="~/fonts/coco_ver12_xlg-500x340.jpg" style="width: 300px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Viva: A Vida é uma Festa  &nbsp;</p>
    <p style="font-style: italic ;"> Descrição: Apesar de a música ter sido banida há gerações em sua família, Miguel (voz do novato Anthony Gonzalez) sonha em se tornar um grande músico como seu ídolo, Ernesto de la Cruz (voz de Benjamin Bratt). Desesperado para provar o seu talento, Miguel se vê na deslumbrante e pitoresco Mundo dos Mortos seguindo uma misteriosa sequência de eventos. Ao longo do caminho ele conhece o trapaceiro encantador Hector (voz de Gael García Bernal), e juntos eles partem em uma jornada extraordinária para descobrir a verdade por trás da história da família de Miguel. &nbsp;</p>
    <p style="font-family: italic" ;">Direção:  Lee Unkrich e Adrian Molina &nbsp;</p>
    <p style="font-family: italic" ;">Gênero:  Animação &nbsp;</p>
    <p style="font-family: italic" ;">Duração: 109 min. &nbsp;</p>
    <p style="font-family: italic" ;">Distruibuidora:  Walt Disney/Pixar &nbsp;</p>
    <a href="https://youtu.be/K3cL-o73GPU" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/443px-DJCTQ_-_L.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>
</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/farofeiros_1-750x380.jpg" style="width:300px; height:200px; margin: 5px; float:left; " /><br />
    <p style="font-style: italic ;">Título: Os Farofeiros</p>
    <p style="font-style: italic ;"> Descrição: Colegas de trabalho, Lima, Alexandre, Rocha e Diguinho decidem sair juntos em uma viagem com suas famílias para curtir o feriadão. Entre engarrafamentos quilométricos em carros apertados, ataques de mosquitos e disputas por um espaço na areia de praias lotadas, nada parece dar certo na viagem. Os planos de um passeio perfeito vão definitivamente por água abaixo quando descobrem que a casa que alugaram estava abandonada e caindo aos pedaços. Sem ter para onde ir, eles irão se meter em confusões hilárias e ainda terão que administrar os problemas de convivência para superar aquele que será o feriado mais infernal de suas vidas.  </p>
    <p style="font-style: italic ;"> Direção: Roberto Santucci </p>
    <p style="font-style: italic ;"> Gênero: Comédia</p>
    <p style="font-style: italic ;"> Duração: 95 min.</p>
    <p style="font-style: italic ;"> Distruibuidora: Downtown/Paris</p>
    <a href="https://youtu.be/IHdVAmF0WKA" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>


</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/mazerunner3_4-1-e1514557000891-500x340.jpg" style="width: 300px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Maze Runner: A Cura Mortal</p>
    <p style="font-style: italic ;"> Descrição: Por trás de uma possibilidade de cura para o Fulgor, Thomas irá descobrir um plano maior, elaborado pelo Cruel, que poderá trazer consequências desastrosas para a humanidade. Ele decide, então, entregar-se ao Experimento final. A organização garante que não há mais nada para esconder. Mas será possível acreditar no Cruel? Talvez a verdade seja ainda mais terrível, uma solução mortal, sem retorno.</p>
    <p style="font-style: italic ;"> Direção: Wes Ball</p>
    <p style="font-style: italic ;"> Gênero: Ação, Ficção Cientifica</p>
    <p style="font-style: italic ;"> Duração: 142 min.</p>
    <p style="font-style: italic ;"> Distruibuidora:  Fox Film</p>
    <a href="https://youtu.be/zaBEBkLVCF0" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>

</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/starwarsultimojedi_50-500x340.jpg" style="width: 300px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Star Wars - Os Últimos Jedi</p>
    <p style="font-style: italic ;"> Descrição: Em 'Star Wars: Os Últimos Jedi', a saga Skywalker continua quando os heróis de 'O Despertar da Força' se juntam com as lendas galácticas em uma aventura épica repleto de mistérios antigos da Força e revelações chocantes do passado.</p>
    <p style="font-style: italic ;"> Direção: Rian Johnson</p>
    <p style="font-style: italic ;"> Gênero: Ficção Científica</p>
    <p style="font-style: italic ;"> Duração: 150 min.</p>
    <p style="font-style: italic ;"> Distruibuidora: Walt Disney</p>
    <a href="https://youtu.be/Q0CbN8sfihY" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação: <img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p> </p>

</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/touroferdinando_2-500x340.jpg" style="width: 300px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: O Touro Ferdinando</p>
    <p style="font-style: italic ;"> Descrição: Ferdinando é um touro gigante com um grande coração. Depois de ser confundido com um animal perigoso, ele é capturado e arrancado de sua casa. Determinado a voltar para sua família, ele se une a uma equipe desajustada nessa grande aventura.</p>
    <p style="font-style: italic ;"> Direção:  Carlos Saldanha</p>
    <p style="font-style: italic ;"> Gênero:  Animação, Aventura</p>
    <p style="font-style: italic ;"> Duração: 108 min.</p>
    <p style="font-style: italic ;"> Distruibuidora:  20th Century Fox</p>
    <a href="https://youtu.be/DGEfgCrzFu4" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/443px-DJCTQ_-_L.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>

</div>


