
@{
    ViewBag.Title = "Promocao";
}

<h2>Promocao</h2>

<p style="font-style: italic ; color:red">TODOS OS DIAS

LEVE: 5 CATÁLOGOS

FIQUE: 5 DIAS

PAGUE: 2,00 CADA





TODOS OS DIAS

LEVE: 3 OU MAIS LANÇAMENTO 24Hrs ou BLU-RAY 24hrs

FIQUE: 2 DIAS





PACOTES DE CRÉDITOS

GANHE ATÉ 35% DE DESCONTO.

</p>