 @model IEnumerable<VideoLocadora.Models.FilmesLocados>

    @{
        ViewBag.Title = "Promocoes";
    }

    <h2>Promoções</h2>

    <p style="font-style: italic ;"> TODOS OS DIAS </p>

                                 <p> LEVE: 5 CATÁLOGOS</p >

                                 <p>FIQUE: 5 DIAS</p>

                                 <p>PAGUE: 2,00 CADA</p>






<p style="font-style: italic ;">TODOS OS DIAS</p>

<p>LEVE: 3 OU MAIS LANÇAMENTO 24Hrs ou BLU-RAY 24hrs</p>

<p>FIQUE: 2 DIAS</p>
                                                                       <p style="font-style: italic ;">PACOTES DE CRÉDITOS</p>

                                                                             <p>GANHE ATÉ 35% DE DESCONTO.</p>

                                                                                  &nbsp;</p>





                                        