@using VideoLocadora.Models

@{
    ViewBag.Title = "FilmesAcervo";
}

<h2>Filmes Acervo</h2>

<p style="font-style: italic ; color:red">Ação</p>
<a href="http://www.adorocinema.com/filmes/filme-130533/" target="_blank" title="DR. Estranho">
    <img alt="alternative text for the liked image" src="~/fonts/doctor-strange_cartaz_220x283.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-146349/" target="_blank" title="Deadpool">
    <img alt="alternative text for the liked image" src="~/fonts/Deadpool (1).jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-130438/" target="_blank" title="Homem Formiga">
    <img alt="alternative text for the liked image" src="~/fonts/Ant_Man-Poster.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-125054/" target="_blank" title="Mad Max">
    <img alt="alternative text for the liked image" src="~/fonts/Deadpool (2).jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-138019/" target="_blank" title="Amanhecer Violento">
    <img alt="alternative text for the liked image" src="~/fonts/download.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-207813/" target="_blank" title="As Bem Armadas">
    <img alt="alternative text for the liked image" src="~/fonts/Untitled-5d.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-190918/" target="_blank" title="Django">
    <img alt="alternative text for the liked image" src="~/fonts/42131509.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-186452/" target="_blank" title="Lucy">
    <img alt="alternative text for the liked image" src="~/fonts/lucypost.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-144148/" target="_blank" title="O Vingador Do Futuro">
    <img alt="alternative text for the liked image" src="~/fonts/20121803.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-134373/" target="_blank" title="O Legado Bourne">
    <img alt="alternative text for the liked image" src="~/fonts/olegado.png" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Animação</p>
<a href="http://www.adorocinema.com/filmes/filme-183006/" target="_blank" title="Trolls">
    <img alt="alternative text for the liked image" src="~/fonts/trolls.png" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-53096/" target="_blank" title="Os Incríveis">
    <img alt="alternative text for the liked image" src="~/fonts/21c2bb200311df32de2c750b3d42dc4d_XL.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-47019/" target="_blank" title="Os Sem Florestas">
    <img alt="alternative text for the liked image" src="~/fonts/30aff153-bf5b-4cf6-b222-97897b80fb9f.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-209529/" target="_blank" title="Big Hero">
    <img alt="alternative text for the liked image" src="~/fonts/097729.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-185056/" target="_blank" title="Angry Birds">
    <img alt="alternative text for the liked image" src="~/fonts/443743.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-123532/" target="_blank" title="Gato De Botas">
    <img alt="alternative text for the liked image" src="~/fonts/20061404.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-111112/" target="_blank" title="Os Simpsons">
    <img alt="alternative text for the liked image" src="~/fonts/20181896.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-132846/" target="_blank" title="Bolt">
    <img alt="alternative text for the liked image" src="~/fonts/bolt.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-203691/" target="_blank" title="Fronzen">
    <img alt="alternative text for the liked image" src="~/fonts/fronzen.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-61645/" target="_blank" title="A Casa Monstro">
    <img alt="alternative text for the liked image" src="~/fonts/dvd-filme-a-casa-monstro-dubladolacrado-D_NQ_NP_9797-MLB20020974607_122013-F.jpg" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Cómedia</p>
<a href="http://www.adorocinema.com/filmes/filme-215671/" target="_blank" title="Minha Mãe é Uma Peça">
    <img alt="alternative text for the liked image" src="~/fonts/245px-Minha_Mãe_é_uma_Peça.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-223673/" target="_blank" title="Minha Mãe é Uma Peça 2">
    <img alt="alternative text for the liked image" src="~/fonts/mãe2.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-206149/" target="_blank" title="Os Estagiários">
    <img alt="alternative text for the liked image" src="~/fonts/21006856_20130517195500909.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-106905/" target="_blank" title="Cada um Com a Gêmea que Merece">
    <img alt="alternative text for the liked image" src="~/fonts/acc23caa-217b-4154-8d45-51deed8a263a.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-171204/" target="_blank" title="Um Espião e Meio">
    <img alt="alternative text for the liked image" src="~/fonts/espião.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-193459/" target="_blank" title="Família do Bagulho">
    <img alt="alternative text for the liked image" src="~/fonts/familia.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-219076/" target="_blank" title="Juntos e Misturados">
    <img alt="alternative text for the liked image" src="~/fonts/juntos.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-226796/" target="_blank" title="Loucas Pra Casar">
    <img alt="alternative text for the liked image" src="~/fonts/Loucas_Pra_Casar.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-60982/" target="_blank" title="Norbit">
    <img alt="alternative text for the liked image" src="~/fonts/norbit.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-54456/" target="_blank" title="As Branquelas">
    <img alt="alternative text for the liked image" src="~/fonts/White_chicks.jpeg.jpeg" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Drama</p>
<a href="http://www.adorocinema.com/filmes/filme-140552/" target="_blank" title="A Garota Dinamarquesa">
    <img alt="alternative text for the liked image" src="~/fonts/Garota.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-208041/" target="_blank" title="Sniper Americano">
    <img alt="alternative text for the liked image" src="~/fonts/564956.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-222221/" target="_blank" title="A Teoria de Tudo">
    <img alt="alternative text for the liked image" src="~/fonts/Tudo.png" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-226390/" target="_blank" title="Deus Não Está Morto">
    <img alt="alternative text for the liked image" src="~/fonts/Deus.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-218926/" target="_blank" title="A Culpa é Das Estrelas">
    <img alt="alternative text for the liked image" src="~/fonts/101764.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-176673/" target="_blank" title="Histórias Cruzadas">
    <img alt="alternative text for the liked image" src="~/fonts/historias.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-147140/" target="_blank" title="Orações Para Bobby">
    <img alt="alternative text for the liked image" src="~/fonts/291515.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-146630/" target="_blank" title="O Impossível">
    <img alt="alternative text for the liked image" src="~/fonts/cartaz_oimpossivel_cartaz_220x283.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-145473/" target="_blank" title="A Última Música">
    <img alt="alternative text for the liked image" src="~/fonts/19874294.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-184864/" target="_blank" title="Para Sempre">
    <img alt="alternative text for the liked image" src="~/fonts/sempre.jpg" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Ficção Científica</p>
<a href="http://www.adorocinema.com/filmes/filme-19776/" target="_blank" title="Matrix">
    <img alt="alternative text for the liked image" src="~/fonts/200px-The_Matrix_Poster.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-53033/" target="_blank" title="Ultavioleta">
    <img alt="alternative text for the liked image" src="~/fonts/220px-Ultraviolet.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-198721/" target="_blank" title="O Destino de Jupiter">
    <img alt="alternative text for the liked image" src="~/fonts/jupiter.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-61282/" target="_blank" title="Avatar">
    <img alt="alternative text for the liked image" src="~/fonts/250px-Avatar-Teaser-Poster.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-221524/" target="_blank" title="Perdido em Marte">
    <img alt="alternative text for the liked image" src="~/fonts/Martian_poster_2015.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-181061/" target="_blank" title="Independence Day">
    <img alt="alternative text for the liked image" src="~/fonts/Independence-Day-2-poster.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-178496/" target="_blank" title="Gravidade">
    <img alt="alternative text for the liked image" src="~/fonts/21023259_20130729194021309.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-114782/" target="_blank" title="Interstellar">
    <img alt="alternative text for the liked image" src="~/fonts/250px-Interstellar_Filme.png" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-195540/" target="_blank" title="O Doador de Memórias">
    <img alt="alternative text for the liked image" src="~/fonts/103323.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-143026/" target="_blank" title="Distrito 9">
    <img alt="alternative text for the liked image" src="~/fonts/dis.jpg" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Romance</p>
<a href="http://www.adorocinema.com/filmes/filme-217930/" target="_blank" title="Se Eu Ficar">
    <img alt="alternative text for the liked image" src="~/fonts/306996.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-230327/" target="_blank" title="Como Eu Era Antes De Você">
    <img alt="alternative text for the liked image" src="~/fonts/303307.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-203316/" target="_blank" title="Como Não Perder Essa Mulher">
    <img alt="alternative text for the liked image" src="~/fonts/21047732_20131008215741116.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-5818/" target="_blank" title="Titanic">
    <img alt="alternative text for the liked image" src="~/fonts/20055685.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-145397/" target="_blank" title="O Lado Bom Da Vida">
    <img alt="alternative text for the liked image" src="~/fonts/bom.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-143276/" target="_blank" title="Idas E Vindas Do Amor">
    <img alt="alternative text for the liked image" src="~/fonts/idas.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-43556/" target="_blank" title="Loga Azul">
    <img alt="alternative text for the liked image" src="~/fonts/lagoa.png" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-188091/" target="_blank" title="Simplesmente Acontece">
    <img alt="alternative text for the liked image" src="~/fonts/simples.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-195281/" target="_blank" title="O Melhor De Mim">
    <img alt="alternative text for the liked image" src="~/fonts/084964.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-213688/" target="_blank" title="Deixa Rolar">
    <img alt="alternative text for the liked image" src="~/fonts/279929.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<br />
<br />
<p style="font-style: italic ; color:red">Suspense</p>
<a href="http://www.adorocinema.com/filmes/filme-235019/" target="_blank" title="Boneco Do Mal">
    <img alt="alternative text for the liked image" src="~/fonts/567676.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-212263/" target="_blank" title="Livrai-nos Do Mal">
    <img alt="alternative text for the liked image" src="~/fonts/livrar.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-183556/" target="_blank" title="A Mulher de Preto">
    <img alt="alternative text for the liked image" src="~/fonts/20039772.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-195649/" target="_blank" title="A Caçada Mortal">
    <img alt="alternative text for the liked image" src="~/fonts/265094.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-200962/" target="_blank" title="A Entidade">
    <img alt="alternative text for the liked image" src="~/fonts/20277419.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-193235/" target="_blank" title="Chamada de Emergência">
    <img alt="alternative text for the liked image" src="~/fonts/20520578.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-52315/" target="_blank" title="Chave Mestra">
    <img alt="alternative text for the liked image" src="~/fonts/19871276.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-182063/" target="_blank" title="Homem Das Sombras">
    <img alt="alternative text for the liked image" src="~/fonts/homem.jpg" width="200" height="200" />
</a>
<a href="hhttp://www.adorocinema.com/filmes/filme-174661/" target="_blank" title="Visões de Um Crime">
    <img alt="alternative text for the liked image" src="~/fonts/visões.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-223822/" target="_blank" title="Garoto Da Casa Ao Lado">
    <img alt="alternative text for the liked image" src="~/fonts/garoto.jpg" width="200" height="200" />
</a>
<br/>
<br />
<p  style="font-style: italic ; color:red">Terror</p>
<a href="http://www.adorocinema.com/filmes/filme-241777/" target="_blank" title="Bruxa De Blair">
    <img alt="alternative text for the liked image" src="~/fonts/354197.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-137973/" target="_blank" title="O Segredo Da Cabana">
    <img alt="alternative text for the liked image" src="~/fonts/200px-CitwTeaserSmall.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-130104/" target="_blank" title="A Morte Te Da Parabéns">
    <img alt="alternative text for the liked image" src="~/fonts/parabens.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-138417/" target="_blank" title="A Morte Do Demonio">
    <img alt="alternative text for the liked image" src="~/fonts/moe.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-56264/" target="_blank" title="A Casa De Cera">
    <img alt="alternative text for the liked image" src="~/fonts/20210636.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-230452/" target="_blank" title="Amizade Desfeita">
    <img alt="alternative text for the liked image" src="~/fonts/amizade.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-229844/" target="_blank" title="A Forca">
    <img alt="alternative text for the liked image" src="~/fonts/447464.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-226396/" target="_blank" title="O Espelho">
    <img alt="alternative text for the liked image" src="~/fonts/389034.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="http://www.adorocinema.com/filmes/filme-191670/" target="_blank" title="A Casa Dos Mortos">
    <img alt="alternative text for the liked image" src="~/fonts/595537.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" width="200" height="200" />
</a>
<a href="https://filmow.com/panico-na-neve-t12505/" target="_blank" title="Pânico Na Neve">
    <img alt="alternative text for the liked image" src="~/fonts/panico-na-neve_cartaz_220x283.jpg" width="200" height="200" />
</a>



<div class="form-horizonta">
    <h2>Consulta de Filmes</h2>
    <hr/>
 <div class="form-group">
     @Html.Label("Filme:", htmlAttributes: new { @class = "control-label col-md-2"})
     <div class="col-md-10">
         <input type="text" name="nome" class="form-control"/>

     </div>
 </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>

</div>
@*<form action=" " method="post">
    <label for="busca">Buscar</label>
    <input type="search" id="busca" name="q">
    <button type="submit">OK</button>
</form>*@