
@{
    ViewBag.Title = "FilmesProximosLancamentos";
}

<h2>Filmes Próximos Lançamentos</h2>

<div class="row">
    <img class="img" src="~/fonts/0001320.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" style="width: 200px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Círculo de Fogo: A Revolta  &nbsp;</p>
    <p style="font-style: italic ;"> Descrição: A produção destaca a história de conflitos entre monstros de destruição em massa e supermáquinas pilotadas por humanos. O rebelde Jake Pentecostes (John Boyega) - um piloto promissor de Jaeger cujo pai deu a vida para garantir a vitória da humanidade contra o monstruoso "Kaiju" – abandona sua formação apenas para tornar-se preso ao submundo do crime. Quando uma ameaça ainda mais imbatível desencadeia pelas cidades, ele tem uma última oportunidade de honrar o legado de seu pai através de sua irmã distante, Mako Mori (Rinko Kikuchi). &nbsp;</p>
    <p style="font-family: italic" ;">Direção:  Steven S. DeKnight &nbsp;</p>
    <p style="font-family: italic" ;">Gênero:   Ação &nbsp;</p>
    <p style="font-family: italic" ;">Duração: 111 min. &nbsp;</p>
    <p style="font-family: italic" ;">Distruibuidora:Universal Pictures &nbsp;</p>
    <a href="https://youtu.be/oBvZ89T0dkQ" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>
</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/250px-Love,_Simon.jpg" style="width: 200px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Com Amor, Simon</p>
    <p style="font-style: italic ;"> Descrição: Aos 16 anos, Simon Spier não é abertamente gay, preferindo guardar seu drama para o musical da escola. Um dia, um dos seus e-mails acaba caindo em mãos erradas, colocando em risco o seu secreto. Simon começa a ser chantageado. Ele deve ajudar o "palhaço" da classe a sair com a garota de quem gosta ou terá sua homossexualidade exposta junto com o nome do garoto com quem estava conversando.</p>
    <p style="font-style: italic ;"> Direção: Greg Berlanti</p>
    <p style="font-style: italic ;"> Gênero: Comédia dramática</p>
    <p style="font-style: italic ;"> Duração: 110 min.</p>
    <p style="font-style: italic ;"> Distruibuidora:  Fox Film</p>
    <a href="https://youtu.be/H0ByZNE6LQ4" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>

</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/pedro-coelho.jpg" style="width:200px; height:200px; margin: 5px; float:left; " /><br />
    <p style="font-style: italic ;">Título: Pedro Coelho</p>
    <p style="font-style: italic ;"> Descrição: O filme, uma combinação de animação com live-action, foi inspirado nas fascinantes histórias da escritora Beatrix Potter.
    A eterna busca de Pedro pelos vegetais cultivados no jardim de Sr. McGregor (Sam Neill) fica ainda mais intensa com a chegada de Jeremy Fisher (Domhnall Gleason), sobrinho de McGregor. O rebelde coelho e Jeremy travarão uma batalha pela atenção de Bea, a vizinha bondosa e amante dos animais (Rose Byrne).  </p>
    <p style="font-style: italic ;"> Direção: Will Gluck </p>
    <p style="font-style: italic ;"> Gênero: Animação/Aventura </p>
    <p style="font-style: italic ;"> Duração: 95 min.</p>
    <p style="font-style: italic ;"> Distruibuidora:Sony Pictures</p>
    <a href="https://youtu.be/njFyLnkwNZg" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/443px-DJCTQ_-_L.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>


</div>
<br />



<div class="row">
    <img class="img" src="~/fonts/0577579.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" style="width: 200px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Um Lugar Silencioso</p>
    <p style="font-style: italic ;"> Descrição: A trama mostra uma família – pai e mãe e seu casal de filhos pequenos – vivendo isolados, se escondendo de alguma coisa, aparentemente criaturas monstruosas. Na rotina da família, é preciso ficar em silêncio e qualquer mínimo barulho pode ser fatal. Para isso, eles aprendem a se comunicar através de linguagem de sinais.</p>
    <p style="font-style: italic ;"> Direção:  John Krasinski</p>
    <p style="font-style: italic ;"> Gênero:  Terror/Suspense</p>
    <p style="font-style: italic ;"> Duração: 90 min.</p>
    <p style="font-style: italic ;"> Distruibuidora:Paramount Pictures</p>
    <a href="https://youtu.be/8W6iMmhVDgE" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação: <img class="img" src="~/fonts/400px-DJCTQ_-_16.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p> </p>

</div>
<br />

<div class="row">
    <img class="img" src="~/fonts/0688659.jpg-c_215_290_x-f_jpg-q_x-xxyxx.jpg" style="width: 200px; height: 200px; margin: 5px; float:left; " />
    <p style="font-style: italic ;">Título: Tomb Raider: A Origem</p>
    <p style="font-style: italic ;"> Descrição: Lara Croft estabelece em sua primeira expedição para terminar a pesquisa arqueológica do seu pai e descobrir segredos antigos, a fim de limpar seu nome desonrado. A tragédia começa quando sua aventura se transforma em uma luta pela sobrevivência.</p>
    <p style="font-style: italic ;"> Direção: Roar Uthaug</p>
    <p style="font-style: italic ;"> Gênero: Ação</p>
    <p style="font-style: italic ;"> Duração: 118 min.</p>
    <p style="font-style: italic ;"> Distruibuidora: Warner Bros</p>
    <a href="https://youtu.be/0vAGT3aQkyE" target="_blank">Trailer</a>
    <p style="font-style: italic ;"> Classificação:<img class="img" src="~/fonts/400px-DJCTQ_-_12.svg.png" style="width: 30px; height: 30px; margin: 5px;" &nbsp;</p>

</div>


<form action=" " method="post">
    <label for="busca">Buscar</label>
    <input type="search" id="busca" name="q">
    <button type="submit">OK</button>
</form>