@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> A locadora de Vídeos Felipe, é uma das melhores da região de Curitiba, sempre com novidades, dicas e informação para você que curte um Filme.
    Hoje nossa Locadora se encontra na Região do Fazendinha, com uma loja repleta de novidades. Fundada em 2018, com o Objetivo de levar alegria para todos
    que goste de um Filminho no Finais De Semena.</p>
