@{
    ViewBag.Title = "Contact";
}

<address>
    <h4 style="font-family:'Times New Roman', Times, serif">Telefone Para Contato</h4>
    <h5 style="font-family:'Times New Roman', Times, serif">Fone: 3270-8765</h5>
    <h6 style="font-family:'Times New Roman', Times, serif">WhatsApp: 9 9876-8987 </h6>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:FelipeLocadora@gmail.com">FelipeLocadora@gmail.com</a><br />
</address>